/*         HackMD Tweaks - Colorful Buttons            */
/* This makes a lot of the menu buttons more colorful! */
/*        (mainly delete, copy, other buttons)         */

.ui-delete-note:hover {
    background-color: #c9302c!important;
    color: white!important;
}

.ui-share-copy:hover {
    background-color: #5cb85c!important;
    color: white!important;
}
