/* ==UserStyle==
@name           HackMD Tweaks
@namespace      github.com/TGRush/hackmd-tweaks
@version        1.0.0
@description    Various tweaks for HackMD
@author         TGRush
@preprocessor	stylus

@var checkbox disableComments "Disable Comments" 0
@var checkbox colorfulButtons "More colorful buttons" 0
@var checkbox mobilePaddingFix "Fix padding for small window sizes" 0
@var checkbox disableChangelogAds "Disable Changelog and Ads in header" 0
@var checkbox disableTooltips "Disable Button Tooltips" 0

==/UserStyle== */
@-moz-document url-prefix("https://hackmd.io") {
    /* HackMD Tweaks except it's entirely re-written, because the previous approach didn't work */
    
    if (disableComments == 1) {
    	.ui-open-comments {
    		display: none;
    	}
    }
    
    if (mobilePaddingFix == 1) {
    	.markdown-body {
    		margin-right: auto!important;
    	}
    }
    
    if (colorfulButtons == 1) {
    	.ui-delete-note:hover {
    	    background-color: #c9302c!important;
    	    color: white!important;
    	}
    	
    	.ui-share-copy:hover {
    	    background-color: #5cb85c!important;
    	    color: white!important;
    	}
    }
    
    if (disableChangelogAds == 1) {
        .announcement-area, .announcement-label-area {
            display: none!important;
        }
    }
    
    if (disableTooltips == 1) {
        .tooltip-inner, .tooltip-arrow {
            display: none!important;
        }
    }
}
